<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".LabRepots"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.MainActivity"
            android:exported="true" />
        <activity
            android:name=".CovidInformation"
            android:exported="true" />
        <activity
            android:name=".EditMediaction"
            android:exported="true" />
        <activity
            android:name=".ReviewMedication"
            android:exported="true" />
        <activity
            android:name=".MainHome"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.ConfirmReset"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.VerifyPin"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.ResetPassword"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.PersonalInfo"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".UpdateRequest"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.VerifyEmail"
            android:exported="true" />
        <activity
            android:name=".UpdatePorfile"
            android:exported="true" />
        <activity
            android:name=".RequestMedication"
            android:exported="true" />
        <activity
            android:name=".InitialUserManagement.Loginactiviyu"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>